#search {
    width: 18vw;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    vertical-align: middle;
    box-sizing: border-box;
    outline: none;
}
.wrapbox{
    width: 90%;
    margin: 0 auto;
    padding: 25px 10px;
}
.control{
    margin: 15px 0;
}
.right-content .control-modal {
    margin-top: 60px;
    margin-bottom: 15px;
}

.right-content .control .modal-footer {
    position: relative;
    padding: 0;
}

.right-content .control .modal-footer span {
    display: inline-block;
    width: 66px;
    height: 25px;
    line-height: 25px;
    background-color: #f3f3f3;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -33px;
    cursor: pointer;
}

/*模态框*/
#newProject .content {
    padding: 20px;
}

#newProject .bg-header {
    padding: 15px;
    background-color: #1164c0;
    color: #fff;
}

#newProject .modal-footer {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px dashed #ddd;
}

.input-date {
    width: 100%;
    height: 34px;
    background: url("../../styles/images/date.png") no-repeat right center;
}

/*分页*/
.pageCont {
    float: right;
    margin: 6px 0.26vw;
    color: #999999;
}

.jurisdiction .modal-header {
    padding: 15px;
    background-color: #1164c0;
    color: #fff;
}

.jurisdiction .user_tit {
    text-align: center;
    background: #e1e9ee;
    line-height: 35px;
}

.jurisdiction .user_left, .jurisdiction .user_right {
    height: 600px;
    border: 1px solid #ddd;
}

.user_boxRight, .user_boxLeft {
    padding: 0;
}

.jurisdiction .user_left li, .jurisdiction .user_right li {
    line-height: 40px;
    cursor: pointer;
    padding-left: 40px;
}

.jurisdiction .user_boxLeft li:hover, .jurisdiction .user_boxRight li:hover {
    background: #e1e9ee;
}

.jurisdiction .btn-default {
    background: #e4e7eb;

}

.jurisdiction .user-center {
    margin-top: 25%;
}

.jurisdiction .from-group {
    margin: 5px 0;
}

.tab-content {
    margin-top: 10px;
}